.leaf1 {
  background-image: url("../images/home/leaf1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.leaf2 {
  background-image: url("../images/home/leaf2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 0;
}

.leaf3 {
  background-image: url("../images/home/leaf3.png"),
    url("../images/home/ProductLeaf.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center, right bottom;
}

.leaf4 {
  background-image: url("../images/home/footer_shape.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
}

.leaf5 {
  background-image: url("../images/home/ProductLeaf.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
}

.yellobanner {
  width: 100%;
  height: 700px;
  background-image: url("../images/home/yellow-banner.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.bor-tb {
  border-left: #cc140d 6px solid;
  border-right: #cc140d 6px solid;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.bor-lr {
  border-left: #cc140d 6px solid;
  border-right: rgba(44, 125, 5, 1) 6px solid;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.b_green {
  background: rgba(44, 125, 5, 1);
}

.CC140D {
  background: #cc140d;
}

.line-h {
  line-height: 28px;
}

.c_CC140D {
  color: #cc140d;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

.fs-35 {
  font-size: 35px;
}

.fs-50 {
  font-size: 50px;
}

.Excellence {
  position: absolute;
  left: 0%;
  bottom: 8%;
}

.card-shadow {
  border: 0px solid rgba(44, 125, 5, 1);
  border-bottom: 5px solid rgba(44, 125, 5, 1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 0.4s;
}

.card-shadow:hover{
  scale: 1.04;
  transition: all .4s;
}

.offersec {
  background-image: url("../images/home/offersec.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.Fresh-Deal {
  position: relative;
}

.counter-sec {
  margin: auto;
  width: 74%;
  margin-top: -200px;
  border-top: 6px solid rgba(44, 125, 5, 1);
  border-radius: 15px;
  background-color: white;
  color: black;
}

.Newfruit {
  background-color: rgba(44, 125, 5, 1);
  padding: 2px 6px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 50px;
  color: white;
}

.counting-numbers {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
  gap: 10px; 
}

.webest ul li {
  padding: 10px 5px;
  list-style-image: url("../images/home/bag.png");
}

.client ::after {
  content: "";
  height: 100px;
  width: 5px;
  background-color: white;
  margin: auto;
  border-radius: 3px;
}

.productsec {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-dots li.slick-active button:before {
  color: #cc140d !important;
  font-size: 20px !important;
}

.slick-track {
  display: flex !important;
  align-items: baseline !important;
}

.customer-img img {
  margin-right: 107px;
}

.fafa {
  color: white;
  background: linear-gradient(90deg, #cc140d 0.44%, #2c7d05 100%);
}

.footer ul li {
  cursor: pointer;
}


.slick-dots{
bottom: -46px !important;
}



/* /media query / */

@media (max-width: 1440px) {
  .Newfruit {
    top: 10px;
    left: 10px;
  }
}

@media (max-width: 1024px) {
  .Newfruit {
    top: 1px;
    left: 0px;
  }
  .counter-wrapper .fs-50 {
    font-size: 35px;
  }

  .customer-img img {
    margin-right: 107px;
  }

  .footertext .col-xl-3 .fs-20 .fs-24 {
    font-size: 15px;
  }

  .fs-24 {
    font-size: 18px;
  }

  .fs-18 {
    font-size: 15px;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-50 {
    font-size: 43px;
  }
}

@media (max-width: 768px) {
  .arrow-controls {
    display: flex;
    flex-direction: column;
  }

  .arrows-wrapper {
    order: 1;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .arrow-controls > div:first-child {
    order: 2;
  }

  .display-3 {
    font-size: 36px !important;
  }

  .display-5 {
    font-size: 32px !important;
  }

  .customer-img img {
    margin-right: 50px;
  }

  .productsec {
    padding: 0.5rem;
  }

  .counter-wrapper .fs-50 {
    font-size: 26px;
  }

  .productsec h4.card-title {
    font-size: 1.5rem;
  }

  .productsec p.fs-35 {
    font-size: 1.2rem;
  }

  .leaf1 {
    background-image: unset;
  }
}

@media (max-width: 576px) {
  .Excellence {
    bottom: -7px;
  }
  .productsec {
    padding: 0.25rem;
  }

  .productsec h4.card-title {
    font-size: 40px;
  }

  .productsec p.fs-35 {
    font-size: 20px;
  }

  button.gradient {
    padding: 0.5rem 1rem;
  }

  .testimonial-carousel {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .counter-sec {
    width: unset;
    left: 0;
    right: 0;
  }

  .counting-numbers {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  .counting-numbers > span {
    width: auto;
    margin-bottom: 10px; 
  }

  .client ::after {
    width: 0;
  }
}
